<div id="<%= dom_id task %>" class="mb-4 bg-amber-100 w-fit p-2 rounded-xl">
  <p>
    <strong>Title:</strong>
    <%= task.title %>
  </p>
  <p>
    <strong>Posted at:</strong>
    <%= task.created_at.to_fs(:long) %>
  </p>
  <%= link_to "View details", task, class: "bg-gray-300 mt-1 pr-2 pl-2 rounded-md w-fit inline-block" %>
</div>