<h1 class="font-bold text-2xl">Offers</h1>
<div class="overflow-hidden rounded-md border border-gray-300 mt-4">
  <table class="table-auto border-collapse w-full">
    <thead>
      <tr class="text-white" style="background-color: #b3b8c9;">
        <th class="px-4 py-2">User</th>
        <th class="px-4 py-2">Price</th>
        <th class="px-4 py-2">Date</th>
        <th class="px-4 py-2">Time</th>
        <th class="px-4 py-2">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% offers.each do |offer| %>
        <tr class="odd:bg-white even:bg-gray-50 text-center">
          <td class="px-4 py-2 underline"><%= link_to offer.user.username, offer.user %></td>
          <td class="px-4 py-2"><%= offer.price %> BAM</td>
          <td class="px-4 py-2"><%= offer.date.to_fs(:long) %></td>
          <td class="px-4 py-2"><%= offer.time.to_formatted_s(:time) %></td>
          <td class="px-4 py-2">
            <button class="bg-green-400 text-white px-2 py-1 rounded">Accept</button>
            <button class="bg-red-400 text-white px-2 py-1 rounded">Decline</button>
            <button class="bg-blue-400 text-white px-2 py-1 rounded">Counter</button>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
