<div class="mb-4 p-3 rounded-md border-2 border-gray-300">
  <div class="flex justify-between">
    <p><strong>Title:</strong> <%= truncate(task.title, length: 40) %></p>
    <div class="flex gap-1">
      <i class="bi bi-geo-alt-fill"></i>
      <%= task.city.name %>
    </div>
  </div>
  <p><strong>Posted:</strong> <%= time_ago_in_words(task.created_at) %> ago</p>
  <div class="flex justify-end mt-2">
    <%= link_to "View details", task, class: "bg-slate-400 text-white py-1 px-2 inline-block rounded-md", style: "background-color: #b3b8c9;" %>
  </div>
</div>
