<div data-controller="carousel" data-carousel-current-index-value="0" data-carousel-total-images-value="<%= task.images.count %>" class="mt-4">
  <% if task.images.attached? %>
    <% task.images.each do |image| %>
      <%= image_tag(image, class: "border-1 border-gray-200 rounded-md h-128 w-full", data: { carousel_target: "image" }) %>
    <% end %>
  <% else %>
    <div class="flex border-2 border-gray-200 rounded-md justify-center items-center text-slate-300 font-bold h-128 text-xl">
      <p><i class="bi bi-images"></i> The user hasn't attached any images for this task.</p>
    </div>
  <% end %>
  <%# ----------------Navigation Buttons----------------- %>
  <% if task.images.any? %>
    <div class="flex justify-center items-center mt-2 gap-8">
      <button data-carousel-target="previousButton" data-action="carousel#previous" class="cursor-pointer bg-blue-400 px-1 rounded-md">
        <i class="bi bi-arrow-left-short text-2xl"></i>
      </button>
      <p data-carousel-target="currentImageParagraph" class="w-20 text-center text-sm">
      </p>
      <button data-carousel-target="nextButton" data-action="carousel#next" class="cursor-pointer bg-blue-400 px-1 rounded-md">
        <i class="bi bi-arrow-right-short text-2xl"></i>
      </button>
    </div>
  <% end %>
</div>