<% content_for :title, "TinkerPal - Tasks" %>
<div class="flex mt-4 justify-between gap-30">
  <%# ----------Filters--------- %>
  <div class="flex flex-col flex-1 gap-4 min-w-fit">
    <div>
      <label for="city">Location</label>
      <br>
      <select name="city" id="city" class="bg-gray-100 p-1 rounded-md h-fit mt-1">
        <% @cities.each do |city| %>
          <option value="<%= city.id %>">
            <%= city.name %>
          </option>
        <% end %>
      </select>
    </div>
    <div>
      <label for="city">Sort by</label>
      <br>
      <select name="sort" id="sort" class="bg-gray-100 p-1 rounded-md h-fit mt-1">
        <option value="0">
          Location
        </option>
        <option value="1">
          Newest
        </option>
        <option value="2">
          Oldest
        </option>
      </select>
    </div>
  </div>
  <%# ----------Task Cards--------- %>
  <div id="tasks" class="mb-8 flex-2 min-w-fit">
    <% @tasks.each do |task| %>
      <%= render "task_card", task: task %>
    <% end %>
  </div>
  <%# ----------New Task Button--------- %>
  <div class="flex flex-1 justify-end min-w-fit">
    <%= link_to "Create task", new_task_path, class: "bg-green-300 h-fit p-1 pl-2 pr-2 rounded-md" %>
  </div>
</div>
