<% content_for :title, "Tasks" %>
<div class="flex mt-2 justify-between">
  <div id="tasks" class="mb-8 ">
    <% @tasks.each do |task| %>
      <%= render task %>
    <% end %>
  </div>
  <%= link_to "Create task", new_task_path, class: "bg-green-300 h-fit p-1 pl-2 pr-2 rounded-md" %>
</div>