      
<div class="bg-gray-100 p-2 rounded-md">
  <p class="font-bold mb-2">Task title</p>
  <p class="mb-2">Review comment about commenting sombrae jos duze da vidimo kako ce izgledati</p>
  Rating
  <% 5.times do %>
    <i class="bi bi-star-fill text-yellow-500"></i>
  <% end %>
</div>
<div class="bg-gray-100 p-2 rounded-md mt-4">
  <p class="font-bold mb-2">Basic plumbing task</p>
  <p class="mb-2">Dvije linije test test adakosadko kdoaskdos</p>
  Rating
  <% 3.times do %>
    <i class="bi bi-star-fill text-yellow-500"></i>
  <% end %>
  <i class="bi bi-star text-yellow-500"></i>
  <i class="bi bi-star text-yellow-500"></i>
</div>
<div class="bg-gray-100 p-2 rounded-md mt-4">
  <p class="font-bold mb-2">Get me groceries</p>
  <p class="mb-2">Review comment</p>
  Rating
  <% 4.times do %>
    <i class="bi bi-star-fill text-yellow-500"></i>
  <% end %>
  <i class="bi bi-star text-yellow-500"></i>
</div>
