<% content_for :title, "Tasqy - Users" %>
<div>
  <% @users.reject { |user| user == Current.user }.each do |user| %>
    <div>
      <%= link_to user.username, user, class: "underline" %>
    </div>
  <% end %>
</div>