<% content_for :title, "Tasqy - Me" %>
<p class="mb-2">
  <strong>Username:</strong>
  <%= @user.username %>
</p>
<p class="mb-2">
  <strong>Active tasks:</strong>
  <% @user.tasks.each do |task| %>
    <p>
      <%= task.title %>
    </p>
  </p>
<% end %>