<% content_for :title, "TinkerPal - #{@user.username}'s profile" %>
<%# ----------Profile Info--------- %>
<div class="flex mt-4 justify-between gap-30">
  <div class="flex flex-col flex-1 gap-4 min-w-fit">
    <p><strong>Username</strong></p>
    <p><%= @user.username %></p>
  </div>
  <%# ----------Task Cards--------- %>
  <div class="flex flex-col flex-2 min-w-fit">
    <% @user.tasks.order(created_at: :desc).each do |task|%>
      <%= render "tasks/task_card", task: task %>
    <% end %>
  </div>
  <%# ----------Treci Div--------- %>
  <div class="flex flex-1 justify-end min-w-fit">
    <div class="flex flex-1 justify-end min-w-fit">
      <h1>Treci div placeholder</h1>
    </div>
  </div>
</div>